" Vim configs for jetbrains IDEs

" Allow copy to clipboard
set clipboard+=unnamed

" Enable relative line numbers
set rnu

" Enable vim commentary
set commentary

" Define spacebar as leader
let mapleader=" "

" Disable copying when deleting in normal mode
nnoremap x "_x

" Insert a new line below/above current line
nmap <leader>o o<Esc>
nmap <leader>O O<Esc>

" Invert case
nmap <leader>i ~<Esc>

" Save file
nmap <leader>w :w <CR>

" Use jk to exit insert mode (doesn't work because j is getting buggy)
imap jk <Esc>

" vim.flash
map s <Action>(flash.search)

" " Enables which-key
" set which-key
" set notimeout
"
" " Enables peekaboo
" set peekaboo
